@import "tailwindcss";
@import "tw-animate-css";
@import "./styles.extended.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  /* custom */
  --color-Red: var(--primary-red);
  --color-Green: var(--primary-green);
  --color-Blue: var(--primary-blue);
  --color-Arsh: var(--arsh);
  --color-Orange: var(--orange);
  --color-modalOverlay: var(--modal-overlay);
}

:root {
  --primary-red: rgb(255, 107, 107);
  --primary-green: #00c846;
  --primary-blue: #1a237e;
  --arsh: #ddd9d9;
  --orange: #ff9800;
  --modal-overlay: #00000090;

  --background: #fff;
  --foreground: #071d2a;

  --radius: 0.625rem;

  --card: oklch(1 0 0);
  --card-foreground: #071d2a;

  --popover: oklch(1 0 0);
  --popover-foreground: #071d2a;

  --primary: #213743;
  --primary-foreground: #f6f7f8;

  --secondary: rgb(245, 245, 245);
  --secondary-foreground: #213743;

  --muted: #f5f5f5;
  --muted-foreground: oklch(0.556 0 0);

  --accent: #f5f5f5;
  --accent-foreground: #213743;

  --destructive: oklch(0.577 0.245 27.325);
  --border: #919db3;
  --input: #e5e5e59;
  --ring: #a1a1a1;
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: #f6f7f8;
  --sidebar-foreground: #071d2a;
  --sidebar-primary: #213743;
  --sidebar-primary-foreground: #f6f7f8;
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: #213743;
  --sidebar-border: #071d2a;
  --sidebar-ring: #a1a1a1;
}

.dark {
  --background: #071d2a;
  --foreground: #f6f7f8;
  --card: #1a2c38;
  --card-foreground: #f6f7f8;
  --popover: #213743;
  --popover-foreground: #f6f7f8;
  --primary: #071d2a;
  --primary-foreground: #fff;
  --secondary: #0f212e;
  --secondary-foreground: #f6f7f8;
  --muted: #0f212e;
  --muted-foreground: oklch(0.708 0 0);
  --accent: #0f212e;
  --accent-foreground: #f6f7f8;
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: #213743;
  --sidebar-foreground: #f6f7f8;
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: #f6f7f8;
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: #f6f7f8;
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground p-0 m-0;
  }
}

/* Elements */
._label {
  @apply text-sm font-medium;
}
._title {
  @apply block text-xl md:text-2xl font-bold pb-1 mb-2 mt-4;
}

._subtitle {
  @apply text-[14px] font-semibold leading-4 mt-4 mb-2;
}
._heading {
  @apply text-4xl md:text-5xl font-semibold mb-6;
}

._p {
  @apply text-[14px] lg:text-[16px] md:text-lg;
}
._small {
  @apply text-[10px] font-light;
}
._page {
  @apply mx-auto max-w-2xl lg:max-w-7xl;
}
._gradient {
  @apply bg-linear-to-br from-primary/30 via-secondary to-Red;
}
._shadow {
  @apply shadow-xl shadow-border/40;
}
._link {
  @apply hover:underline underline-offset-2 visited:text-purple-500 dark:visited:text-purple-300 hover:text-black dark:hover:text-white;
}

/* Buttons */
._transition ease-linear duration-100 {
  transition: all 0.3s ease-in-out;
}

._primaryBtn {
  @apply flex items-center flex-nowrap gap-2 px-4 py-2 text-sm font-medium bg-teal-600 text-white rounded-lg hover:bg-teal-700 transition-colors cursor-pointer disabled:cursor-not-allowed disabled:pointer-events-none disabled:opacity-70 active:opacity-80 hover:opacity-95 select-none;
}

._secondaryBtn {
  @apply flex items-center flex-nowrap gap-2 px-4 py-2 text-sm font-medium bg-secondary hover:bg-accent/90 rounded-lg transition-colors cursor-pointer disabled:cursor-not-allowed disabled:opacity-70 disabled:pointer-events-none select-none active:opacity-80;
}

._deleteBtn {
  @apply flex items-center flex-nowrap gap-2 px-4 py-2 text-sm font-medium text-red-700 bg-red-100 hover:bg-red-200 rounded-lg transition-colors cursor-pointer disabled:cursor-not-allowed disabled:opacity-70 disabled:pointer-events-none select-none active:opacity-80;
}

._primaryBg {
  @apply bg-white text-primary dark:bg-primary dark:text-white;
}
._secondaryBg {
  @apply bg-background text-secondary dark:bg-secondary dark:text-white;
}
._borderColor {
  @apply border-border/30 dark:border-border;
}

._hover {
  @apply hover:bg-secondary-foreground/10 transition-colors cursor-pointer;
}
._active {
  @apply active:opacity-80 transition-colors;
}

._inspect {
  @apply border border-red-500;
}

._shrink {
  @apply active:scale-[99%] transition-all;
}

._card {
  @apply p-4 border shadow-sm hover:shadow;
}

._growChild {
  @apply *:w-full;
}
._before {
  @apply before:absolute before:w-full before:h-[80%] before:bg-border before:my-3;
}
._hoverBefore {
  @apply before:invisible hover:before:visible transition-all ease-linear duration-100 before:absolute before:w-1 before:h-[80%] before:bg-primary/50 before:-left-0 before:rounded-full;
}
._after {
  @apply after:absolute after:-bottom-3 after:h-[1.5px] after:bg-border after:right-1 after:left-0;
}
